/* gloubal rule */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .3s;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Lato', sans-serif;
}
a {
    display: block;
    text-decoration: none;
    color: #000;
}
ul {
    list-style: none;
}
.container {
    padding: 0 60px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}
.section-head {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
.section-head + p {
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
    color: #777;
    padding: 20px 0;
}
/* nav section */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    text-transform: uppercase;
    z-index: 100;
}
nav .container-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav .container-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .container-nav ul li a,
nav .container-nav .logo,
nav i {
    color: #fff;
    padding: 15px 20px;
}
nav .container-nav ul li a:hover,
nav .container-nav .logo:hover,
nav i:hover {
    background-color: #ccc;
    color: #000;
}
nav .container-nav ul li:last-child {
    position: relative;
}
nav .container-nav ul li:last-child a {
    position: relative;
}
nav .container-nav ul li:last-child > a::before {
    content: "";
    position: absolute;
    border: 7px solid transparent;
    border-top-color: #fff;
    right: 2px;
    top: 20px;
}
nav .container-nav ul li:last-child:hover a + ul {
    display: block !important;
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    width: 200px;
    text-transform: capitalize;
}
nav .container-nav ul li:last-child a + ul li a {
    color: #000;
}
nav .container-nav ul li:last-child a + ul li:last-child a::before {
    border: none;
}
nav i {
    margin-left: auto;
}
nav i.fa-bars {
    display: none;
}
/* landing */
.landing {
    width: 100%;
    height: calc(100vh - 40px);
    margin-top: 40px;
}
.landing .mySwiper {
    width: 100%;
    height: 100%;
}
.landing .mySwiper .swiper-wrapper .swiper-slide {
    position: relative;
    left: -1px;
}
.landing .mySwiper .swiper-wrapper .swiper-slide img {
    width: 101%;
    height: 100%;
    object-fit: cover;
}
.landing .mySwiper .swiper-wrapper .swiper-slide .text {
    position: absolute;
    left: 50%;
    top: 80%;
    color: #fff;
    transform: translate(-50%,-50%);
}
.landing .mySwiper .swiper-wrapper .swiper-slide .text h3 {
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
}
.landing .mySwiper .swiper-wrapper .swiper-slide .text p {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
/* band section */
.band {
    padding: 50px 0;
}
.band .container {
    text-align:justify;
    line-height: 1.5;
    font-size: 1.2rem;
}
.band .container .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-top: 50px;
    gap: 30px;
}
.band .container .boxes .box {
    position: relative;
    padding: 10px 0;
}
.band .container .boxes .box h4 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
}
.band .container .boxes .box img {
    margin-top: 20px;
}
.band .container .boxes .box img:hover {
    transform: scale(1.05);
}
/* tour dates */
.tour-dates {
    padding: 50px 0;
    background-color: #000;
}
.tour-dates > h2 {
    color: #fff;
}
.tour-dates .head-box {
    background-color: #fff;
    width: 100%;
    text-transform: capitalize;
}
.tour-dates .head-box p {
    position: relative;
    font-weight: 300;
    padding: 10px 20px;
}
.tour-dates .head-box p:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.tour-dates .head-box p span.out,
.tour-dates .head-box p span.num {
    font-size: 80%;
    color: #fff;
    padding: 5px 10px;
    margin-left: 10px;
    font-weight: 600;
}
.tour-dates .head-box p span.out {
    background-color: red;
}
.tour-dates .head-box p span.num {
    background-color: #000;
    border-radius: 50%;
}
.tour-dates .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-top: 50px;
    gap: 30px;
}
.tour-dates .box-container .box {
    background-color: #fff;
}
.tour-dates .box-container .box .text {
    padding: 20px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
.tour-dates .box-container .box .text span {
    color: #999;
}
.tour-dates .box-container .box .text p {
    color: #555;
}
.tour-dates .box-container .box .text button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 16px;
    border: none;
}
.tour-dates .box-container .box .text button:hover {
    color: #000;
    background-color: #ccc;
}
.tour-dates .box-container .box .filter {
    position: relative;
}
.tour-dates .box-container .box .filter span {
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0;
    left: 0;
}
.tour-dates .box-container .box .filter span:hover {
    background-color: #00000060;
}
.tour-dates .box-container .box .filter img {
    width: 100%;
}
/* contact */
.contact {
    padding: 50px 0;
}
.contact .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 20px;
} 
.contact .container .info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 20px;
}
.contact .container .info li i {
    margin-right: 20px;
}
.contact .container form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.contact .container form input[type="text"],
.contact .container form input[type="email"],
.contact .container form textarea {
    padding: 10px;
    font-size: 1.1rem;
    border: none;
    border: 1px solid #777;
}
.contact .container form input[type="text"],
.contact .container form input[type="email"] {
    width: 49%;
}
.contact .container form textarea {
    resize: none;
    width: 100%;
    margin: 10px 0;
    min-height: 100px ;
}
.contact .container form input[type="text"]::placeholder,
.contact .container form input[type="email"]::placeholder,
.contact .container form textarea::placeholder {
    letter-spacing: 3px;
    transition: .3s;
}
.contact .container form input[type="text"]:focus::placeholder,
.contact .container form input[type="email"]:focus::placeholder,
.contact .container form textarea:focus::placeholder {
    letter-spacing: initial;
}
.contact .container form input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}
.contact .container form input[type="submit"]:hover {
    background-color: #ccc;
    color: #000;
}
.contact > img {
    margin-top: 50px;
    width: 100%;
    filter: grayscale(50%);
}
/* footer */
.footer {
    text-align: center;
    padding: 30px 0;
    font-size: 1.3rem;
}
.footer .icons i {
    cursor: pointer;
}
.footer .icons i:hover {
    color: #777;
}

















/* media */
@media (max-width: 600px) {
    nav .container-nav ul {
        display: none;
    }
    nav .container-nav ul.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #000;
        width: 100vw;
        top: 100%;
        align-items: flex-start;
    }
    nav .container-nav ul li {
        width: 100%;
    }
    nav i.fa-search {
        display: none !important;
    }
    nav i.fa-bars {
        display: block !important;
    }
    nav .container-nav ul li:last-child:hover a + ul {
        width: 100vw;
    }
    .mySwiper .swiper-button-prev,
    .mySwiper .swiper-button-next {
        display: none;
    }
    .contact .container {
        grid-template-columns: auto;
        gap: 20px;
    }
    .contact .container .info {
        font-size: 1.1rem;
    }
}